body {
	margin:0;
	background-color:white;
	position:absolute;
}

li {
	margin: 2px 0px 4px 0px;
}

#container {
	width: 50%;
	top: 30%;
	position:relative;
	padding:5px 25px;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	margin: 0px 10px 50px;
}

#devTools {
	background-color:grey;
	width:50%;
	position:fixed;
	left:50%;
	text-align:center;
	height:100%;
	color:white;
	font-family:"Lucida Console", courier, serif;
	font-size:40px;
	line-height:calc(90vh);
}

.center {
	margin:auto;
	position:relative;
	text-align:center;
	text-align:-webkit-center;
}

code {
	font-family:"Courier New", courier, serif;
	color:red;
}

#header {
	font-family: Verdana, times, sans-serif;
	font-size:28px;
	margin-top:0px;
	position:static;
	top:0;
	width:100%;
	height:52px;
	line-height:50px;
	z-index:4;
	background-color:white;
}

figcaption {
	position:relative;
}

#progressBarCont {
	width:100%;
	position:fixed;
	top:50px;
	height:2px;
}

#progressBar {
	background-color:red;
	width:0%;
	height:100%;
}

#special {
	color:red;
	background-color:rgba(211, 211, 211, 0.37);
	line-height:40px
}

body {
	font-size: 12px;
	font-family: Arial, times, serif;
}

h1, h2 {
	font-size:16px;
	font-family:Verdana, times, sans-serif;
	font-weight:bold;
	margin-top:30px;
}

h2 {
	font-size:13px;
}